
<div class="searchForm" *ngIf="!isSuccessful">
    <h2>Search Book</h2>
<div class="row" >
  <div class="fields">
     Title
   </div>
   <div class="fields">
      <input [(ngModel)]= "search.title">
   </div>
   </div>
   <div class="row" >
    <div class="fields">
       Category
     </div>
     <div class="fields">
        <input [(ngModel)]= "search.category">
     </div>
     </div>
   <div class="row" >
   <div class="fields">
      Author
    </div>
    <div class="fields">
        <input [(ngModel)]= "search.author">
    </div>
    </div>
    <div class="row" >
    <div class="fields">
      Price
    </div>
    <div class="fields">
      <input [(ngModel)]= "search.price">
    </div>
    </div>
    <div class="row" >
    <div class="fields">
     Publisher
    </div>
    <div class="fields">
      <input [(ngModel)]= "search.publisher">
    </div>
    </div>
    <div class="fields" ><button class="btn btn-primary btn-block" (click)="searchBook()">
        Search
      </button>
    </div>

    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="isSearchFailed"
  >
   Failed: {{ errorMessage }}
  </div>

</div>
<div class="books" *ngIf="isSuccessful">
  <div class="row"> 
    <div class="card card-block"
     *ngFor="let book of bookList">
   
     <div class="book">
      <img src="{{path}}{{book.logo}}">
     <h4 class="card-title">{{book.title}}</h4>
   <p class="card-text"><b>Category </b>{{book.category}}</p>
   <p class="card-text"><b>Author : </b>{{book.author}}</p>
   <p class="card-text"><b>Price: </b>{{book.price}}</p>
   <p class="card-text">{{book.author}}</p>
     </div>
     <button *ngIf="showReaderBoard" class="btn btn-primary btn-block">
      Subscribe
    </button>
    <button *ngIf="showAuthorBoard" class="btn btn-primary btn-block">
      Blocks
    </button>
    </div>
    </div>
</div>

