
<div class="searchForm" *ngIf="!isSuccessful">
    <h2>Search Book</h2>
<div class="row" >
  <div class="fields">
     Title
   </div>
   <div class="fields">
      <input [(ngModel)]= "search.title">
   </div>
   </div>
   <div class="row" >
   <div class="fields">
      Author
    </div>
    <div class="fields">
        <input [(ngModel)]= "search.author">
    </div>
    </div>
    <div class="row" >
    <div class="fields">
      Price
    </div>
    <div class="fields">
      <input [(ngModel)]= "search.price">
    </div>
    </div>
    <div class="row" >
    <div class="fields">
     Publisher
    </div>
    <div class="fields">
      <input [(ngModel)]= "search.publisher">
    </div>
    </div>
    <div class="fields" ><button class="btn btn-primary btn-block" (click)="searchBook()">
        Search
      </button>
    </div>

    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="isSearchFailed"
  >
    Login failed: {{ errorMessage }}
  </div>

</div>
<div class="searchForm" *ngIf="isSuccessful">
    {{content}}
</div>

