
<div class="card card-container" *ngIf="!isSuccessful">
    <h2>Search Book</h2>
<div class="row" >
  <div class="fields">
     Title
   </div>
   <div class="fields">
      <input [(ngModel)]= "search.title">
   </div>
   </div>
   <div class="row" >
    <div class="fields">
       Category
     </div>
     <div class="fields">
        <input [(ngModel)]= "search.category">
     </div>
     </div>
   <div class="row" >
   <div class="fields">
      Author
    </div>
    <div class="fields">
        <input [(ngModel)]= "search.author">
    </div>
    </div>
    <div class="row" >
    <div class="fields">
      Price
    </div>
    <div class="fields">
      <input [(ngModel)]= "search.price">
    </div>
    </div>
    <div class="row" >
    <div class="fields">
     Publisher
    </div>
    <div class="fields">
      <input [(ngModel)]= "search.publisher">
    </div>
    </div>
     <div class="row fields" ><button class="btn btn-primary btn-block" (click)="searchBook()">
        Search
      </button>
    </div>

    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="isSearchFailed"
  >
   Failed: {{ errorMessage }}
  </div>

</div>
<div class="card-books card-container-books" *ngIf="isSuccessful">
  <h2 class="hedding">Search Result</h2>
  <div class="row"> 
    <div class="card card-block"
     *ngFor="let book of bookList">
   
     <div class="book">
      <img src="{{book.logo}}">
     <h4 class="card-title">{{book.title}}</h4>
   <p class="card-text"><b>Category </b>{{book.category}}</p>
   <p class="card-text"><b>Author : </b>{{book.authorName}}</p>
   <p class="card-text"><b>Price: </b>{{book.price}}</p> 
   <div *ngIf="showReaderBoard"> <button  class="btn btn-primary btn-block" (click)="subscribe(book.id)">
    Subscribe
  </button></div>
 
   <div
    class="error"
    role="alert"
    *ngIf="book.id==subscribedid && isSubscribeFailed" >
   Failed: {{ errorMessage }}
  </div>
     </div>
   
    <button *ngIf="showAuthorBoard" class="btn btn-primary btn-block">
      Block
    </button>
    </div>
    </div>
</div>

